{% extends 'base.html' %}

{% block title %}Moje cargo{% endblock %}

{% block content %}

    <h2>Moje {{ message }}</h2>
    <div class="container-fluid">
        {% for obj in objects %}
            <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h4 class="card-title">Nazwa: {{ obj.name }}</h4>
                      <h5 class="card-title">Typ: {{ obj.type }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Wymiary: {{ obj.dimensions }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ obj.assigned_transit }}</h6>
                    <p class="card-text">{{ obj.description }}</p>
                    <a href="delete_cargo/{{ obj.pk }}" class="card-link">Usuń cargo</a>
                    <a href="update_cargo/{{ obj.pk }}" class="card-link">Edytuj opis</a>
                  </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}