{% extends 'base.html' %}

{% block title %}Moje przejazdy{% endblock %}

{% block content %}

    <h2>Moje {{ message }}</h2>
    <div class="container-fluid">
        {% for obj in objects %}
            <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ obj }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ obj.vehicle }}</h6>
                    <p class="card-text">{{ obj.description }}</p>
                    <a href="delete_transit/{{ obj.pk }}" class="card-link">Usuń przejazd</a>
                    <a href="update_transit/{{ obj.pk }}" class="card-link">Edytuj opis</a>
                    <a href="transit_reservations/{{ obj.pk }}" class="card-link">Rezerwacje</a>
                  </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}